.btn_switch {
  border-width: 1px;
  background-color: #ffffff;
  border-color: #e8e8e88d;
  color: rgb(131, 131, 131);
}

.btn_switch:hover {
  background-color: #696969dd;
  border-color: #e7e7e7;
  color: rgb(255, 255, 255);
}

.btn_switch:active {
  background-color: rgba(#198754, 1) !important;
  border-color: #198754bd !important;
  color: rgb(216, 216, 216) !important;
}
