#info {
  border-radius: 0.375rem !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  font-weight: 500 !important;
}

#mainimg {
  max-width: 660px;
  max-height: 660px;
  min-width: 492px;
  min-height: 492px;
  margin-top: 30px;
}

#like {
  border-radius: 2%;
}

#mainbtnright {
  margin-right: 10%;
}

#mainbtnleft {
  margin-left: 10%;
}

#mainbtnright:hover {
  background-color: rgba(240, 248, 255, 0.03);
}

#mainbtnleft:hover {
  background-color: rgba(240, 248, 255, 0.03);
}
