#info {
  border-radius: 0.375rem;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 500;
}

#header {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.head_search {
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.43) !important;
  color: rgba(255, 255, 255, 0.442) !important;
  background-color: #212529 !important;
}

.head_search:hover {
  border-width: 1px;
  border-color: #ffffff !important;
  color: rgb(255, 255, 255) !important;
  background-color: #212529 !important;
}

.head_search:focus {
  border-width: 1px;
  border-color: #ffffffc1 !important;
  color: rgb(255, 255, 255) !important;
  background-color: #212529 !important;
}

.btn_head_clr {
  border-width: 1px;
  background-color: #1987545b;
  border-color: #ffffff8d;
  color: rgb(216, 216, 216);
}

.btn_head_clr:hover {
  background-color: #19875498;
  border-color: #ffffff;
  color: rgb(255, 255, 255);
}

.btn_head_clr:active {
  background-color: rgba(#198754, 1) !important;
  border-color: #198754bd !important;
  color: rgb(216, 216, 216) !important;
}
/* в эйчтиэмэле и кээсэсе можно хоть хуй на залупу (https://github.com/earthgore) */
