body {
  background-color: #f2f2f2;
}

.container .btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 0;
}

.long-bttn {
  max-width: 100%;
  min-width: 50%;
  box-shadow: 0 0 0;
  border: 0;
  border-radius: 0;
  padding-right: 0;
  background-color: rgba(163, 163, 169, 0.1);
  /* padding-bottom: 41.7em; */
}

.long-bttn:hover {
  background-color: rgba(176, 167, 167, 0.05);
}

.long-bttn:active {
  background-color: rgba(209, 202, 202, 0.292);
}
.header {
  border: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(95, 95, 222);
  box-shadow: 0 0 5px rgba(26, 9, 9, 0.9);
}

#main-img {
  justify-content: center;
  width: 100%;
  border-right-width: 100%;
  margin: 129px;
  /* border-left-width: 100%;
  padding-left: 10%;
  padding-right: 10%; */
}

#search {
  padding: 0;
}
/* box-sizing: border-box; */

#right-bttn {
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 408px;
}

#left-bttn {
  padding-left: 0%;
  margin-right: 408px;
}

.page-container-lg {
  text-align: center;
  max-width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #bab5b5;
}

.page-container-inner {
  display: flex;
  justify-content: center;
  min-width: 100px;
  max-width: 100px;
  margin: 0;
  padding: 0;
}

button:hover {
  text-decoration: underline;
}

button:active {
  background-color: rgba(248, 248, 248, 0);
}
