#header {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

#header_fixed {
  position: fixed !important;
  width: 100%;
  display: block;
  z-index: 100;
}

.head_search {
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.43) !important;
  color: rgba(255, 255, 255, 0.442) !important;
  background-color: #212529 !important;
}

.head_search:hover {
  border-width: 1px;
  border-color: #ffffff !important;
  color: rgb(255, 255, 255) !important;
  background-color: #212529 !important;
}

.head_search:focus {
  border-width: 1px;
  border-color: #ffffffc1 !important;
  color: rgb(255, 255, 255) !important;
  background-color: #212529 !important;
}

/* в эйчтиэмэле и кээсэсе можно хоть хуй на залупу (https://github.com/earthgore) */
