#Error {
  font-family: "Garamond", monospace;
  font-size:x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  text-align: center;
}

#box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 260px;
  padding-bottom: 190px
}
