.container {
    background-color: #e9ecef;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(450px, 100%);
    margin: auto;
    height: 100vh;
    gap: 30px;
}

.form_inputs {
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 15px;
}

#to_registr {
    color: black;
    text-decoration: none;
    font-weight: 100;
  }
  
#to_registr:hover {
    color: rgba(0, 0, 0, 0.66)
}

#danger_icon {
  display: flex;
}

#alert_text {
    display: flex;
}

.container_alert {
  width: 356px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
background-color: #ffa3a3;
border-radius: 12px;
padding: 22px;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 15px;
    animation: show-alert 0.8s;
}

@keyframes show-alert {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(0);
    }
  }